<div class="container">

  <div ng-controller="DemoController">

    <h3>Javascript</h3>

    <form class="messages-form form-inline">
      <div class="form-group">
        <input class="form-control" type="text" ng-model="msg.content" placeholder="Content">
      </div>
      <div class="form-group">
        <input class="form-control" type="number" ng-model="msg.options.ttl" placeholder="TTL">
      </div>
      <div class="form-group">
        <select class="form-control" ng-model="msg.options.type">
          <option value="default">Default</option>
          <option value="primary">Primary</option>
          <option value="success">Success</option>
          <option value="info">Info</option>
          <option value="warning">Warning</option>
          <option value="danger">Danger</option>
        </select>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-default" ng-click="add(msg)">Add</button>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-default" ng-click="clear()">Clear</button>
      </div>
    </form>

    <pre><code>{{ jsStatement() }}</code></pre>

    <h3>Element</h3>

    <form class="messages-form form">
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="element.fixed"> Display messages at fixed position
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="element.animations"> Enable animations
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="element.shadows"> Enable shadows
        </label>
      </div>

      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="element.center"> Center messages
        </label>
      </div>

    </form>

    <pre><code>{{ htmlMarkup() }}</code></pre>
    <pre ng-if="element.animations"><code>angular.module('myModule', ['inform', 'ngAnimate']);</code></pre>

    <h4 ng-if="!element.fixed && inform.messages().length > 0">Messages</h4>

    <div inform
         ng-class="{ 'inform-fixed': element.fixed, 'inform-animate': element.animations, 'inform-shadow': element.shadows, 'inform-center': element.center }"></div>

    <h3>Unhandled Exceptions</h3>
    <pre><code>angular.module('myModule', ['inform', 'inform-exception']);</code></pre>
    <button type="button" class="btn btn-danger" ng-click="throwException()">Throw unhandled exception</button>

    <h3>HTTP Exceptions</h3>
    <pre><code>angular.module('myModule', ['inform', 'inform-http-exception']);</code></pre>
    <button type="button" class="btn btn-danger" ng-click="throwHttpException()">Request invalid url</button>
  </div>
  <!-- MessageController -->

</div>